*{font-family: 'pretendard';}
button{cursor: pointer;}
.header_mo{display: none;}

.topBtn.hidden,
.shareBtn.hidden,
.product_hamburger.hidden{display: none;}
.topBtn,
.shareBtn,
.product_hamburger{
    right: 30px;
    border-radius: 100%; position: fixed; z-index: 999; width: 60px; height: 60px; background: transparent; /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(15px);
    --webkit-backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.15);
}
.topBtn:after,
.shareBtn:after,
.product_hamburger:after{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;}
.topBtn{bottom: 30px;}
.shareBtn{bottom: 105px; transition: background 0.3s ease-out;}
.product_hamburger{cursor: pointer; visibility: hidden; opacity: 0; bottom: 180px; transition: all 0.3s ease-out;}
.topBtn:after{content: ''; background: url('/assets/images/topBtn.png') center / contain no-repeat; width: 14px; height: 20px;}
.shareBtn:after{content: ''; background: url('/assets/images/shareBtn.png') center / contain no-repeat; width: 19px; height: 19px;}
.product_hamburger:after{content: ''; background: url('/assets/images/product_hamburger.png') center / contain no-repeat; width: 19px; height: 19px;}
.product_hamburger.active{background-color: #0E56A7;}
.product_hamburger.active:after{background-image: url('/assets/images/product_hamburger_close.png'); width: 16px; height: 16px;}
.product_hamburger_BG{display: none; position: fixed; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0,0,0,0.5); z-index: 99;}
.product_hamburger_BG.active{display: block;}
.shareBtn:hover{background-color: #555555;}
.shareBox{transition: bottom 0.6s; z-index: 999; position: fixed; right: 110px; bottom: -100%; padding: 25px 30px; border-radius: 10px; background-color: #FBFBFB; border: 1px solid #EEEEEE;}
.shareBox.active{bottom: 30px;}
.shareBox span{display: block; font-size: 18px; font-weight: 500; color: #555555; margin-bottom: 10px; line-height: 26px;}
.shareBox > div:not(:last-child){margin-bottom: 30px;}
.shareBox > div > div{display: flex; width: 290px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); border-radius: 5px;} 
.shareBox > div > div input{outline: none; font-size: 13px; font-weight: 300; color: #666666; width: calc(100% - 30px); border: none;}
.shareBox > div > div .url_copyBtn{width: 30px; height: 30px; border: none; position: relative; background-color: #F6F6F6; border-radius: 0 5px 5px 0;}
.shareBox > div > div .url_copyBtn:after{content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('/assets/images/copyBtn.png') center / contain no-repeat; width: 14px; height: 14px;}
.shareBox > div > div .url_copyBtn.active{background-color: #0E56A7;}
.shareBox > div > div .url_copyBtn.active:after{background-image: url('/assets/images/copyCheckBtn.png'); width: 14px; height: 14px;}
.shareBox > div:nth-child(2) ul{display: flex; justify-content: space-between;}
.shareBox > div:nth-child(2) ul li a{position: relative; display: block; width: 50px; height: 50px; background-color: #F5F5F5; border-radius: 5px;}
.shareBox > div:nth-child(2) ul li a:after{content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-size: contain; background-repeat: no-repeat; background-position: center;}
.shareBox > div:nth-child(2) ul li:nth-child(1):hover a{background-color: #0A66C2;}
.shareBox > div:nth-child(2) ul li:nth-child(2):hover a{background-color: #1877F2;}
.shareBox > div:nth-child(2) ul li:nth-child(3):hover a{background-color: #1DA1F2;}
.shareBox > div:nth-child(2) ul li:nth-child(4):hover a{
    background: rgb(252,176,69);
    background: linear-gradient(32deg, rgba(252,176,69,1) 0%, rgba(252,166,66,1) 9%, rgba(252,117,53,1) 26%, rgba(253,29,29,1) 49%, rgba(131,58,180,1) 85%, rgba(131,58,180,1) 100%);
}
.shareBox > div:nth-child(2) ul li:nth-child(5):hover a{background-color: #2EB34A;}
.shareBox > div:nth-child(2) ul li:nth-child(1) a:after{background-image: url('/assets/images/linkedin.png'); width: 14px; height: 14px;}
.shareBox > div:nth-child(2) ul li:nth-child(2) a:after{background-image: url('/assets/images/facebook.png'); width: 9px; height: 16px;}
.shareBox > div:nth-child(2) ul li:nth-child(3) a:after{background-image: url('/assets/images/twitter.png'); width: 18px; height: 15px;}
.shareBox > div:nth-child(2) ul li:nth-child(4) a:after{background-image: url('/assets/images/instagram.png'); width: 18px; height: 18px;}
.shareBox > div:nth-child(2) ul li:nth-child(5) a:after{background-image: url('/assets/images/blog.png'); width: 20px; height: 18px;}
.shareBox > div:nth-child(2) ul li:nth-child(1):hover a:after{background-image: url('/assets/images/linkedin_hover.png');}
.shareBox > div:nth-child(2) ul li:nth-child(2):hover a:after{background-image: url('/assets/images/facebook_hover.png');}
.shareBox > div:nth-child(2) ul li:nth-child(3):hover a:after{background-image: url('/assets/images/twitter_hover.png');}
.shareBox > div:nth-child(2) ul li:nth-child(4):hover a:after{background-image: url('/assets/images/instagram_hover.png');}
.shareBox > div:nth-child(2) ul li:nth-child(5):hover a:after{background-image: url('/assets/images/blog_hover.png');}


.header_pc,
footer > div{width: 1480px; margin: 0 auto;}

header{position: fixed; left: 0; top: -90px; width: 100%; z-index: 999; transition: all 0.3s; background-color: #fff; border-bottom: 1px solid #EEEEEE;}
header.fixed{top: 0;}
.header_pc{display: flex;}
.header_pc h1{cursor: pointer; width: 10.13%;}
.header_pc h1 a{height: 90px; text-indent: -9999px; display: block; background: url('/assets/images/dkLok_logo.png') center / contain no-repeat; max-width: 150px; width: 100%;}
.header_pc > div{width: 89.86%; display: flex; height: 90px; align-items: center;}
.header_pc nav{width: 86%;}
.header_pc nav ul li,
.header_pc nav ul li span{cursor: pointer;}
.header_pc nav > ul{display: flex; justify-content: right;}
.header_pc nav > ul > li:not(:first-child){margin-left: 4.88%;}
.header_pc nav > ul > li > span{display: block; line-height: 90px; font-size: 19px; font-weight: 600; color: #444444; text-decoration: none;}
.header_pc nav > ul > li > span.active{color: #0E56A7;}
.header_pc nav > ul > li > span:hover{color: #E01E25;}
.header_pc nav > ul > li > span + div{border-bottom: 1px solid #EEEEEE; display: flex; justify-content: center; visibility: hidden; opacity: 0; transition: all 0.3s ease-out; position: absolute; width: 100%; border-top: 1px solid #E01E25; background-color: rgba(255,255,255,0.97); left: 0; top: 90px;}
.header_pc nav > ul > li > span + div > ul:not(:first-child){border-left: 1px solid #EEEEEE;}
.header_pc nav > ul > li > span + div > ul:not(.flexWrap){width: 285px;}
.header_pc nav > ul > li > span + div > ul:not(.flexWrap){padding: 35px 0;}
.header_pc nav > ul > li > span + div > ul.flexWrap{display: flex;}
.header_pc nav > ul > li > span + div > ul.flexWrap li{padding: 35px 0;}
.header_pc nav > ul > li > span + div > ul.flexWrap li:not(:first-child){border-left: 1px solid #EEEEEE;}
.header_pc nav > ul > li > span + div > ul.flexWrap li a{padding: 0 80px;}
.header_pc nav > ul > li > span + div > ul:not(.flexWrap) > li:nth-child(1){cursor: default; font-size: 18px; font-weight: 600; color: #444444; margin-bottom: 20px;}
.header_pc nav > ul > li > span + div > ul:not(.flexWrap) > li:not(:first-child){margin-bottom: 18px;}
.header_pc nav > ul > li > span + div > ul > li > a:hover{text-decoration: underline;}
.header_pc nav > ul > li > span + div > ul > li > a{display: block; font-size: 17px; font-weight: 500; color: #777777; text-decoration: none;}
.header_pc nav > ul > li > span + div > ul > li,
.header_pc nav > ul > li > span + div > ul > li > a{display: block; text-align: center;}
header.fixed .header_pc nav > ul > li > span:hover + div,
header.fixed .header_pc nav > ul > li > span + div:hover{visibility: visible; opacity: 1;}
.header_pc .rightBox{width: 14%; display: flex; align-items: center; justify-content: right;}
.header_pc .rightBox .snsBox button{border: none; font-size: 16px; font-weight: 600; color: #666666; padding: 0; background-color: transparent;}
.header_pc .rightBox .langBox,
.header_pc .rightBox .snsBox{margin-left: 35px; position: relative;}
.header_pc .rightBox .snsBox button{height: 90px;}
.header_pc .rightBox .langBox button{background: url('/assets/images/langBtn.png') center / contain no-repeat; width: 18px; height: 90px; border: none; padding: 0;}
.header_pc .rightBox .langBox button:hover + div,
.header_pc .rightBox .langBox > div:hover,
.header_pc .rightBox .snsBox button:hover + div,
.header_pc .rightBox .snsBox > div:hover{opacity: 1; visibility: visible;}
.header_pc .rightBox .langBox > div{transition: opacity 0.3s ease-out; opacity: 0; visibility: hidden; padding: 5px; box-sizing: border-box; background-color: #333333; border-radius: 5px; position: absolute; left: 50%; top: 65px; transform: translateX(-50%); width: 55px;}
.header_pc .rightBox .snsBox > div{transition: opacity 0.3s ease-out; opacity: 0; visibility: hidden; padding: 8px; box-sizing: border-box; background-color: #333333; border-radius: 5px; position: absolute; left: 50%; top: 65px; transform: translateX(-50%); width: 45px;}
.header_pc .rightBox .langBox > div span{cursor: pointer; display: block; font-size: 14px; border-radius: 3px; font-weight: 500; color: #CCCCCC; text-align: center; line-height: 25px;}
.header_pc .rightBox .snsBox > div a{border-radius: 3px; cursor: pointer; margin: 0 auto; width: 28px; height: 28px; display: block; position: relative;}
.header_pc .rightBox .snsBox > div a:after{content: ''; transition: background 0.2s ease-out; content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-repeat: no-repeat; background-position: center; background-size: contain;}
.header_pc .rightBox .snsBox > div a:nth-of-type(1):after{background-image: url('/assets/images/footer_linkedIn.png'); width: 14px; height: 14px;}
.header_pc .rightBox .snsBox > div a:nth-of-type(2):after{background-image: url('/assets/images/footer_x.png'); width: 14px; height: 14px;}
.header_pc .rightBox .snsBox > div a:nth-of-type(3):after{background-image: url('/assets/images/footer_facebook.png'); width: 7px; height: 14px;}
.header_pc .rightBox .snsBox > div a:nth-of-type(4):after{background-image: url('/assets/images/footer_youtube.png'); width: 14px; height: 10px;}
.header_pc .rightBox .snsBox > div a:nth-of-type(1):hover:after{background-image: url('/assets/images/footer_linkedIn_hover.png');}
.header_pc .rightBox .snsBox > div a:nth-of-type(2):hover:after{background-image: url('/assets/images/footer_x_hover.png');}
.header_pc .rightBox .snsBox > div a:nth-of-type(3):hover:after{background-image: url('/assets/images/footer_facebook_hover.png');}
.header_pc .rightBox .snsBox > div a:nth-of-type(4):hover:after{background-image: url('/assets/images/footer_youtube_hover.png');}

.header_pc .rightBox .snsBox > div a:hover{background-color: #fff;}
.header_pc .rightBox .langBox > div span.active,
.header_pc .rightBox .snsBox > div a.active{background-color: #FFFFFF; font-weight: 600; color: #E01E25;}
.header_pc .rightBox .langBox > div span:not(:last-child),
.header_pc .rightBox .snsBox > div a:not(:last-child){margin-bottom: 2px;}
/* 햄버거 버튼 */
header .hamburger{position: relative; margin-left: 35px; cursor: pointer; background-color: transparent; border: none; padding: 0; width: 16px; display: block;}
header .hamburger a{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
header .hamburger span{display: block; width: 16px; border-bottom: 2px solid #666666; transition: all 0.4s;}
header .hamburger span:not(:last-child){margin-bottom: 4px;}
header.active .hamburger span{border-color: #256DCB;}
header.active .hamburger span:nth-child(1){transform: translateY(8px) rotate(45deg);}
header.active .hamburger span:nth-child(3){transform: translateY(1px) rotate(-45deg);}
header.active .hamburger span:nth-child(2){display: none;}   
/* 햄버거 버튼 */

/* 모바일 헤더 */
body.active{overflow: hidden;}

/* 햄버거 버튼 */
.header_mo.fixed .hamburger,
.header_mo.active .hamburger{top: 0px;}
.header_mo .hamburger{transition: all 0.2s; cursor: pointer; background-color: transparent; border: none; padding: 0; width: 20px; display: block; position: absolute; top: -120px; right: 0;}
.header_mo .hamburger span{display: block; width: 20px; border-bottom: 3px solid #aaaaaa; transition: all 0.4s;}
.header_mo .hamburger span:not(:last-child){margin-bottom: 4px;}
.header_mo.active .hamburger span{border-color: #DB2029;}
.header_mo.active .hamburger span:nth-child(1){transform: translateY(8px) rotate(45deg);}
.header_mo.active .hamburger span:nth-child(3){transform: translateY(1px) rotate(-45deg);}
.header_mo.active .hamburger span:nth-child(2){display: none;}   
/* 햄버거 버튼 */

.header_mo{position: fixed; height: 80px; width: 100%; left: 0; top: -80px; z-index: 999; font-family: 'pretendard'; padding: 0 6%; box-sizing: border-box;}
.header_mo.fixed{top: 0;}
.header_mo.active{height: 100%;}
.header_mo .top{z-index: 9999; transition: all 0.3s; left: 0; top: -80px; display: flex; align-items: center; padding: 0 5%; justify-content: space-between; position: fixed; width: 100%; height: 80px; background-color: #fff;}
.header_mo.fixed .top,
.header_mo.active .top{top: 0;}
.header_mo .top h1{max-width: 150px;}
.header_mo .top h1 a{display: block; line-height: 0;}
.header_mo .top h1 a img{width: 100%; line-height: 0;}
.header_mo .nav{padding: 0 5%; box-sizing: border-box; overflow-y: auto; overflow-x: hidden; display: none; position: fixed; width: 100%; height: calc(100% - 80px); top: 80px; left: 0; background: transparent; /* Note: currently only Safari supports backdrop-filter 27px 0.2 */ backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.7);}
.header_mo.active .nav{display: block;}
.header_mo .nav > ul li div{cursor: pointer; position: sticky; z-index: 1; left: 0; top: 0; display: block; line-height: 50px; text-decoration: none;}    
.header_mo .nav > ul li div:not(.mo_sub_menuBox),
.header_mo .nav > ul li .mo_sub_menu_none{padding: 0 5%; box-sizing: border-box;}
.header_mo .nav > ul li .mo_sub_menu a{text-decoration: none; font-size: 17px; font-weight: 500; color: #555555;}
.header_mo .nav > ul > li > div{display: block; position: relative;}
.header_mo .nav > ul > li > div > span:nth-child(1){font-size: 17px; font-weight: 500; color: #555555;}
.header_mo .nav > ul > li > div > span:nth-child(2){position: absolute; right: 5%; top: 50%; transform: translateY(-50%);}
.header_mo .nav > ul > li > div > span:nth-child(2) img{height: 15px; width: 100%; transform: rotate(0deg); transition: 0.5s ease-in-out;}
.header_mo .nav > ul > li > div > span:nth-child(2) i{font-size: 17px;}
.header_mo .nav > ul > li > div.active > span:nth-child(2) img{transform: rotate(-180deg);}  
.header_mo .depth_1{opacity: 1; transition: opacity 0.3s; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; transition: all 0.5s;}
.header_mo .depth_1 li.active span{color: #fff; background-color: #0E56A7;}
.header_mo .depth_2{box-sizing: border-box; background-color: #fff; height: 100%; overflow: scroll; position: absolute; top: 0; left: 100%; opacity: 0; z-index: 0; transition: all 0.5s;}
.header_mo .depth_2 > li > .mo_sub_menuBox > div:not(.disableLink){padding: 0;}
.header_mo .mo_sub_menu{display: none;}
.header_mo .mo_sub_menu li{padding: 0 5%; box-sizing: border-box;}

.header_mo .right_menu{position: fixed; right: 6%;}
.header_mo .right_menu .lang_box{top: -1px; right: 50px; position: absolute;}
.header_mo .right_menu .lang_box button{background: url('/assets/images/langBtn.png') center / contain no-repeat; width: 20px; height: 20px; border: none; padding: 0;}
.header_mo .right_menu .lang_box > div{display: none; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05); border-radius: 5px; background-color: #fff; position: absolute; left: 50%; top: 33px; transform: translateX(-50%);}
.header_mo .right_menu .lang_box > div.active{display: block;}
.header_mo .right_menu .lang_box > div > span{cursor: pointer; font-size: 14px; font-weight: 500; color: #999999; padding: 10px 20px; display: block;}
.header_mo .right_menu .lang_box > div > span.active{color: #DB2029;}
.header_mo .right_menu .lang_box > div > span:not(:last-child){position: relative;}
.header_mo .right_menu .lang_box > div > span:not(:last-child):after{content: ''; display: block; width: 12px; height: 1px; background-color: #DDDDDD; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}

.header_mo .right_menu .snsBox{top: -1px; right: 100px; position: relative;}
.header_mo .right_menu .snsBox button{font-size: 16px; font-weight: 600; color: #666666; background-color: transparent; border: none; padding: 0;}
.header_mo .right_menu .snsBox > div{padding: 8px; box-sizing: border-box; background-color: #333333; border-radius: 5px; display: none; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05); border-radius: 5px; position: absolute; left: 50%; top: 33px; transform: translateX(-50%);}
.header_mo .right_menu .snsBox > div.active{display: block;}
.header_mo .right_menu .snsBox > div > a{background-color: #fff; position: relative; width: 28px; height: 28px; border-radius: 3px; background-color: #fff; cursor: pointer; display: block;}
.header_mo .right_menu .snsBox > div > a:not(:last-child){margin-bottom: 2px;}

.header_mo .right_menu .snsBox > div a:after{content: ''; transition: background 0.2s ease-out; content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-repeat: no-repeat; background-position: center; background-size: contain;}
.header_mo .right_menu .snsBox > div a:nth-of-type(1):after{background-image: url('/assets/images/footer_linkedIn_hover.png'); width: 14px; height: 14px;}
.header_mo .right_menu .snsBox > div a:nth-of-type(2):after{background-image: url('/assets/images/footer_x_hover.png'); width: 14px; height: 14px;}
.header_mo .right_menu .snsBox > div a:nth-of-type(3):after{background-image: url('/assets/images/footer_facebook_hover.png'); width: 7px; height: 14px;}
.header_mo .right_menu .snsBox > div a:nth-of-type(4):after{background-image: url('/assets/images/footer_youtube_hover.png'); width: 14px; height: 10px;}
/* 모바일 헤더 Fin */
.depth_1,
.depth_2{transition: left 0.3s; width: 100%;}

.depth_1.hidden{left: -100%;}
.depth_2.active{opacity: 1; z-index: 1; left: 0;}
.depth_2 > li{display: none;}
.depth_2 > li .disableLink{padding: 0 5%; box-sizing: border-box;}
.depth_2 > li.active{display: block;}
.depth_2 > li.active .disableLink{background-color: #0E56A7;}
.depth_2 > li.active .disableLink > span:nth-child(2){color: #fff; font-size: 17px; font-weight: 500;}
.depth_2 .mo_sub_menuBox > div{box-sizing: border-box; position: relative; display: block; padding-left: 20px;}
.depth_2 .mo_sub_menuBox > div > span:nth-child(1){line-height: 20px; position: absolute; left: 5%; top: 50%; transform: translateY(-50%);}
.depth_2 .mo_sub_menuBox > div > span:nth-child(1) img{vertical-align: middle; height: 15px; width: 100%;}
.depth_2 .mo_sub_menuBox > div > span:nth-child(2){padding-left: 5%;}
.depth_2 .mo_sub_menuBox > div{position: sticky;}
.depth_2 > li:not(:nth-child(5), :nth-child(6), :nth-child(7)) .mo_sub_menuBox > div{border-bottom: 1px solid #EEEEEE;}
.depth_2 .mo_sub_menuBox .hasChild{display: block; position: relative; border-bottom: 1px;}
.depth_2 .mo_sub_menuBox .hasChild > span:nth-child(1){font-size: 17px; font-weight: 500; color: #555555;}
.depth_2 .mo_sub_menuBox .hasChild.active > span:nth-child(1){color: #0E56A7; font-size: 17px; font-weight: 500;}
.depth_2 .mo_sub_menuBox .hasChild > span:nth-child(2){position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}

footer{border-top: 1px solid #EEEEEE; padding: 50px 0;}
footer > div > span{cursor: pointer; margin-bottom: 85px; opacity: 0.2; display: block; filter: grayscale(100%); background: url('/assets/images/dkLok_footerLogo.png') center / contain no-repeat; width: 145px; height: 24px;}
footer > div > div{display: flex; justify-content: space-between; align-items: end;}
footer > div > div > div:nth-child(1) span,
footer > div > div > div:nth-child(1) a{text-decoration: none; font-size: 16px; font-weight: 400; color: #666666; position: relative;}
footer > div > div > div:nth-child(1) > div{display: flex; margin-bottom: 20px;}
footer > div > div > div:nth-child(1) > div > *:not(:last-child){padding-right: 25px; margin-right: 25px;}
footer > div > div > div:nth-child(1) > div > *:not(:last-child):after{content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 18px; background-color: #DDDDDD;}
footer > div > div > div:nth-child(1) p{font-size: 14px; font-weight: 300; color: #999999;}
footer > div > div > div:nth-child(2){display: flex;}
footer > div > div > div:nth-child(2) > div:not(:first-child){padding-left: 25px; margin-left: 25px; position: relative;}
footer > div > div > div:nth-child(2) > div:not(:first-child):before{content: ''; display: block; width: 1px; height: 18px; background-color: #DDDDDD; position: absolute; left: 0; top: 5px;}
footer > div > div > div:nth-child(2) > div{display: flex; align-items: center;}
footer > div > div > div:nth-child(2) > div > span{margin-right: 25px; font-size: 16px; font-weight: 500; color: #444444;}
footer > div > div > div:nth-child(2) > div > div > span{cursor: pointer; font-size: 16px; font-weight: 400; color: #E01E25;}
footer > div > div > div:nth-child(2) > div > ul{display: flex;}
footer > div > div > div:nth-child(2) > div > ul li{transition: background 0.2s ease-out; cursor: pointer; position: relative; width: 28px; height: 28px; border-radius: 3px;}
footer > div > div > div:nth-child(2) > div > ul li a{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 9;}
footer > div > div > div:nth-child(2) > div > ul li:not(:first-child){margin-left: 8px;}
footer > div > div > div:nth-child(2) > div > ul li:after{transition: background 0.2s ease-out; content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-repeat: no-repeat; background-position: center; background-size: contain; }
footer > div > div > div:nth-child(2) > div > ul li:hover{background-color: #F9F9F9;}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(1):after{background-image: url('/assets/images/footer_linkedIn.png'); width: 14px; height: 14px;}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(2):after{background-image: url('/assets/images/footer_x.png'); width: 14px; height: 14px;}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(3):after{background-image: url('/assets/images/footer_facebook.png'); width: 7px; height: 14px;}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(4):after{background-image: url('/assets/images/footer_youtube.png'); width: 14px; height: 10px;}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(1):hover:after{background-image: url('/assets/images/footer_linkedIn_hover.png');}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(2):hover:after{background-image: url('/assets/images/footer_x_hover.png');}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(3):hover:after{background-image: url('/assets/images/footer_facebook_hover.png');}
footer > div > div > div:nth-child(2) > div > ul li:nth-child(4):hover:after{background-image: url('/assets/images/footer_youtube_hover.png');}


@media screen and (max-width:1600px){
    .header_pc,
    footer > div{width: 90%;}

    .header_pc h1{width: 150px;}
    .header_pc h1 a{min-width: 150px;}
    .header_pc > div{width: calc(100% - 150px);}
    .header_pc nav{padding-right: 30px; box-sizing: border-box;}

    .header_pc nav > ul > li > a + div > ul.flexWrap li a{padding: 0 60px;}
}
@media screen and (max-width:1279px){
    .header_pc nav > ul > li > span{font-size: 17px;}
    footer > div > div > div:nth-child(2){flex-wrap: wrap;}
    footer > div > div > div:nth-child(2) > div{width: 100%;}
    footer > div > div > div:nth-child(2) > div:not(:first-child){margin-top: 10px; padding-left: 0; margin-left: 0;}
    footer > div > div > div:nth-child(2) > div:not(:first-child):before{display: none;}
}

@media screen and (max-width:1023px){
    header{top: 0;}
    .header_mo{display: block;}
	.header_pc{display: none;}

    /* footer */
    footer > div > div{flex-wrap: wrap; position: relative;}
    footer > div > div > div{width: 100%;}
    footer > div > div > div:last-child{padding-bottom: 50px;}
    footer > div > div > div:nth-child(2) > div{justify-content: left;}
    footer > div > div > div:nth-child(1) p{position: absolute; bottom: 0;}
    /* footer Fin */

    .product_hamburger{visibility: visible; opacity: 1;}
}
@media screen and (max-width:767px){
    .header_mo .top h1{max-width: 110px;}
    footer > div > a{margin-bottom: 50px;}
    footer > div > div > div:nth-child(1) > div{flex-wrap: wrap;}
    footer > div > div > div:nth-child(1) > div span{width: 100%;}
    footer > div > div > div:nth-child(1) > div span:not(:last-child),
    footer > div > div > div:nth-child(1) > div a{margin-bottom: 10px;}
    footer > div > div > div:nth-child(1) > div > *:not(:last-child):after{display: none;}
}